body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Uncage', sans-serif !important;
    color: white !important;
}

@font-face {
    font-family: 'Uncage';
    src: url('fonts/uncage-regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uncage-Bold';
    src: url(fonts/uncage-bold.otf) format('truetype');
    font-weight: bold;
    font-style: normal;
}   

.name-title-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name {
    font-family: 'Uncage-Bold', sans-serif;
    margin-top: 200px;
    font-size: 175px;
    text-align: center;
    text-shadow: 10px 5px 2px rgb(146, 146, 146);
}

.title {
    font-size: 50px;
    text-align: center;
}