body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Uncage', sans-serif !important;
    color: white !important;
}

@font-face {
    font-family: 'Uncage';
    src: url('fonts/uncage-regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uncage-Bold';
    src: url(fonts/uncage-bold.otf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

.borderOnly {
    border: 2px dashed #ffffff; 
    padding: 10px;
    border-radius: 10px;    
    background-color: transparent; 
    box-shadow: none;      
    overflow: hidden; 
}

.cardInfo {
    color: white !important;
    font-family: 'Uncage', sans-serif !important;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-title {
    font-size: 24px;
    font-family: 'Uncage-Bold', sans-serif;
    margin-bottom: 10px;
    color: white !important;
}

#projectHeader {
    color: white;
    display: flex;
    justify-content: center;
}

.github-link {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.hover-img {
    position: absolute;
    width: 64px;
    height: 64px;
    object-fit: contain;
}

.col {
    display: flex; 
    justify-content: center; 
    align-items: stretch; 
    flex-wrap: wrap; 
    background-color: transparent;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    width: 380px;
    height: 300px;
    position: relative;
    margin: 10px;
}

.card img {
    position: absolute;
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease;
    bottom: 275px;
    left: 325px;
    width: 64px;
    height: 64px;
}

.card img.hidden {
    display: none;
}

.card:hover img {
    opacity: 1;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.237) !important;
    border: 2px solid #ffffff;
}
